@font-face {
    font-family: Poppins;
    src: url("Poppins-Regular.ttf");
}

html {
    background-color: #141414;
    /* height: 100%; */
}

body {
    margin: 0;
    padding: 0 100px;
    font-family: Poppins;
    /* height: 100%; */
}



.navigation {
    display: inline;
    position: relative;
}

.navigation > a {
    margin: 0 2em;
    text-decoration: none;
    color: white;
}

header {
    display:flex;
    justify-content: space-between;
    padding: 1.5em 0;
    font-size: large;
    /* text-decoration: none; */
}

/* header a {
    margin: 0 2em;
    text-decoration: none;
    color: aliceblue;
} */

.side {
    display: inline;
    width: 150px;
    text-align: right;
}

.side > .contacts {
    text-decoration: none;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 0.4em 20px;
}

.main {
    text-align: center;
    height: calc(100vh - 82px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sonechka {
  margin: 0 auto;
  color: whitesmoke;
  /* margin-bottom: 30px; */
}

.sonechka h1 {
  font-size: 7em;
  margin: 0;
}

.sonechka p {
  text-align: center;
  width: 70%;
  margin: 0 auto;

  opacity: 0;
  transform: translate(0, 50px);
  transition: all 300ms ease-out;
}

/* .sonechka {
    
    margin-bottom: 75px;
}

.sonechka > .undersonechka {
    padding: 0 350px;
}

.sonechka > h1 {
    font-size: 8em;
    margin: 0;
    margin-bottom: 15px;
}  */
/* 
header > .contacts {
    margin: calc(var(--header-top) - 0.4em) 0;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
    text-decoration: none;
    color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 20px;
    padding: 0.4em 10px;

} */